---
layout: default
---

<div class="post">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-line"></div>

        {{ content }}

        <div class="tags journey">
                <h3 style="text-align: center;">My Journey Career</h3>
                <!-- Marker -->
                <div class="tags-item" id="">
                        <h3 class="tags-item-label">Software Engineer - Qontak by Mekari</h3>
                        <a class="tags-post" href="#">
                                <div>
                                        <span class="tags-post-title">Still On Progress :)))</span>
                                        <div class="tags-post-line"></div>
                                </div>
                                <span class="tags-post-meta">
                                        <time>Apr 2021 - Present (Fulltime)</time>
                                </span>
                        </a>
                </div>
                <!-- End Marker -->
                <!-- Marker -->
                <div class="tags-item" id="">
                        <h3 class="tags-item-label">Part-Time Program (PTP) Instructor - Hacktiv8</h3>
                        <a class="tags-post" href="#">
                                <div>
                                        <span class="tags-post-title">Still On Progress :)))</span>
                                        <div class="tags-post-line"></div>
                                </div>
                                <span class="tags-post-meta">
                                        <time>Mar 2022 - Present (Part Time)</time>
                                </span>
                        </a>
                </div>
                <!-- End Marker -->
                <!-- Marker -->
                <div class="tags-item" id="">
                        <h3 class="tags-item-label">Instructor - Amikom Center</h3>
                        <a class="tags-post" href="#">
                                <div>
                                        <span class="tags-post-title">Teach and Lead Intern Web Developer to Build Product
                                                <hr>
                                                Product: <br>
                                                <ul>
                                                        <li>Learning Management System</li>
                                                        <li>Attendance System</li>
                                                </ul>
                                        </span>
                                        <div class="tags-post-line"></div>
                                </div>
                                <span class="tags-post-meta">
                                        <time>Nov 2020 - Dec 2021 (Part Time)</time>
                                </span>
                        </a>
                </div>
                <!-- End Marker -->
                <!-- Marker -->
                <div class="tags-item" id="">
                        <h3 class="tags-item-label">Backend Engineer - Tamtech International</h3>
                        <a class="tags-post" href="#">
                                <div>
                                        <span class="tags-post-title">Create Billing System for Neurovi (Hospitality System) 
                                                <br>and Migrate Neurovi from Hospital management <br> to Clinic management
                                                <hr>
                                                Stack Technology: NodeJs - ExpressJs - MongoDB

                                        </span>
                                        <div class="tags-post-line"></div>
                                </div>
                                <span class="tags-post-meta">
                                        <time>Jan 2021 - Apr 2021 (Internship)</time>
                                </span>
                        </a>
                </div>
                <!-- End Marker -->
                <!-- Marker -->
                <div class="tags-item" id="">
                        <h3 class="tags-item-label">Web Developer - PT. Git Solution</h3>
                        <a class="tags-post" href="#">
                                <div>
                                        <span class="tags-post-title">Build Web and Mobile App Online attendance system <br>
                                                for Amikom Center <br>
                                                <hr>
                                                Web : PHP - Laravel <br>
                                                Mobile App : Javascript - React Native
                                        </span>
                                        <div class="tags-post-line"></div>
                                </div>
                                <span class="tags-post-meta">
                                        <time>Sep 2020 - Feb 2021 (Internship)</time>
                                </span>
                        </a>
                </div>
                <!-- End Marker -->
                <!-- Marker -->
                <div class="tags-item" id="">
                        <h3 class="tags-item-label">Instructor SKKNI - BPSDMP Kominfo</h3>
                        <a class="tags-post" href="#">
                                <div>
                                        <span class="tags-post-title">Help participants learn basic web developing to
                                                achieve <br>
                                                competency value standards to become junior web developers <br>
                                                according to the Kominfo BPSDMP curriculum</span>
                                        <div class="tags-post-line"></div>
                                </div>
                                <span class="tags-post-meta">
                                        <time>Sep 2020 - Oct 2020 (Contract)</time>
                                </span>
                        </a>
                </div>
                <!-- End Marker -->
        </div>

        <h3 style="text-align: center;">Contact me:</h3>
        <div style="display: flex; justify-content: center;">
                <a style="margin-left: 4px; margin-right: 4px;" href="https://www.linkedin.com/in/hammamxalf/"><img
                                height="30"
                                src="https://raw.githubusercontent.com/raivo-otp/issuer-icons/a2705551fb38d11fceb5955fe79a3cdce55fd04c/vectors/linkedin.com/linkedin.svg"></a>
                <a style="margin-left: 4px; margin-right: 4px;" href="https://github.com/mamxalf"><img height="30"
                                src="https://raw.githubusercontent.com/raivo-otp/issuer-icons/a2705551fb38d11fceb5955fe79a3cdce55fd04c/vectors/github.com/github-icon.svg"></a>
                <a style="margin-left: 4px; margin-right: 4px;" href="https://www.instagram.com/mamxalf/"><img
                                height="30"
                                src="https://raw.githubusercontent.com/raivo-otp/issuer-icons/a2705551fb38d11fceb5955fe79a3cdce55fd04c/vectors/instagram.com/instagram.svg"></a>
                <a style="margin-left: 4px; margin-right: 4px;" href="https://twitter.com/ngodingsambat"><img
                                height="30"
                                src="https://raw.githubusercontent.com/raivo-otp/issuer-icons/a2705551fb38d11fceb5955fe79a3cdce55fd04c/vectors/twitter.com/twitter.svg"></a>
                <a style="margin-left: 4px; margin-right: 4px;" href="https://web.facebook.com/hammamxalf"><img
                                height="30"
                                src="https://raw.githubusercontent.com/raivo-otp/issuer-icons/a2705551fb38d11fceb5955fe79a3cdce55fd04c/vectors/facebook.com/facebook-circle.svg"></a>
        </div>
</div>
</div>